@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
$textSize: 18px;
$weight700: 700;
$weight400: 400;
$weight300: 300;
$family: "Public Sans", Verdana, Geneva, Tahoma, sans-serif;
$pageMaxWidth: 1440px;

$colors: (
  "700": hsl(233, 26%, 24%),
  "600": hsl(136, 65%, 51%),
  "500": hsl(192, 70%, 51%),
  "400": hsl(233, 8%, 62%),
  "300": hsl(220, 16%, 96%),
  "200": hsl(0, 0%, 98%),
  "100": hsl(0, 0%, 100%),
);
